.filterComponent {
    width: 30%;

}

.searchResultPage {
    padding-top: 20px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
}

.searchbox {
    width: 100%;
    
}

.recipeCards {
    width:60%;
}

.recipeSearchResults .recipeCard {
    width: 50%;
    border: 1px solid red;
 
 }