
.bk-board{
    position: absolute;
    height: 100vh;
    overflow: hidden;
    background-size: cover;
    margin-bottom: 20px;
}
.signup {
    width: 340px;
    height: 650px;
    position: relative;
    margin: auto;
    margin-top: 40px;
    padding: 20px;
    background: rgba(165, 42, 42, 0.205);
    box-shadow: 0 0 30px 9px rgb(83, 78, 70);
    
}

#username {
    background: #e7dcdc;
    width: 300px;
}
#confirmPassword {
    background: #e7dcdc;
    width: 300px;
}
.submit-btn {
    margin-left: 66%;
    width: 100px;
}
.loginMessage {
    color: white;
}
