.card-img-top {
  height: 10rem;
}

.card {
  border-radius: 30%;
}
.receipt-card-border {
  border-radius: 10% !important;
}
.receipe-card-noborder {
  border-style: none !important;
}

/* .recipeCards .recipes {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
}


.searchResultPage .recipeCard {
   width: 50%;
   max-width: 50%;
   flex: 0 1 auto;

} */
