.hero{
    position: relative;
    height: 600px;
    overflow: hidden;
    background-size: cover;
    margin-bottom: 20px;
}
.login {
    width: 700px;
    height: 350px;
    position: relative;
    margin: auto;
    margin-top: 70px;
    padding: 20px;
    background: rgba(165, 42, 42, 0.205);
    box-shadow: 0 0 30px 9px rgb(83, 78, 70);
    
}
label {
    color: black;
    margin-left: 10px;
}
#email {
    background: #e7dcdc;
    width: 300px;
}
#password {
    background: #e7dcdc;
    width: 300px;
}
.sub-btn {
    width: 300px;
    
}
.signupMessage {
    margin-left: 27%;
    padding: 6%;
    font-size: medium;
    color: black;
}